{% extends "base.html" %}

{% block page_title %}
    Lista de Tarefas
{% endblock page_title %}
    
{% block content %}
    <h1>Lista de Tarefas</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{% url 'todo_create'%}" class="btn btn-primary">Cadastrar Tarefa</a>
    </div>
    {% if todo %}
        <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <th scope="col">Criação</th>
            <th scope="col">Data entrega</th>
            <th scope="col">Finalizado</th>
            <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todo %}
                <tr>
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.created_at}}</td>
                    <td>{{todo.deadline}}</td>
                    <td>{{todo.finished_at|default:"Não"}}</td>
                    <td>
                        <a href="{% url 'todo_update' todo.pk %}"
                         class="btn btn-primary btn-sm {% if todo.finished_at %}disabled{% endif %}" 
                         title="Editar tarefa">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a href="{% url "todo_complete" todo.pk %}"
                         class="btn btn-success btn-sm {% if todo.finished_at %}disabled{% endif %}"
                          title="Concluír a tarefa">
                          <i class="bi bi-check-lg"></i>
                        </a>
                        <a href="{% url "todo_delete" todo.pk %}" class="btn btn-danger btn-sm" title="Excluir tarefa"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Nenhuma tarefa encontrada.</p>
    {% endif %}
{% endblock content %}




