{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_title %}
    Criar - Tarefa
{% endblock page_title %}

{% block content %}
    </form>
    <h1>Criar Tarefa</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'todo_list' %}" class="btn btn-primary me-md-2">Voltar</a>
        </div>
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}

          <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
{% endblock content %}
